/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
h1 {
  font-size: 24px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

@media screen and (max-width: 500px) /* Mobile */ {
    tr td:nth-child(3) { display:none; }
    tr th:nth-child(3) { display:none; }
}

.banner-container{
  background: url('../images/vision.ai.svg') no-repeat scroll;
  background-size: contain;
  background-position-y: 50%;
  background-position-x: 50%;
  height: 50%;
}